@model IEnumerable<WebApplication1.Models.ServicesPost>

@{
    ViewData["Title"] = "Index";
}


<h1 style="color: steelblue;">Posts</h1>
<style>
    table {
        width: 50%;
        font-size: 10px;
    }

    th, td {
        font-size: 12px;
    }
</style>
<table class="table ">
    <thead>
        <tr style="background-color: lightblue">

            <th>
                <p style="color: steelblue;" >@Html.DisplayNameFor(model => model.Title)</p>
            </th>
            <th>
                <p style="color: steelblue;">@Html.DisplayNameFor(model => model.Description)</p>
            </th>
            <th>
                <p style="color: steelblue;">@Html.DisplayNameFor(model => model.Categories)</p>
            </th>
            <th>
                <p style="color: steelblue;">@Html.DisplayNameFor(model => model.User)</p>
            </th>
            <th>
                <p style="color: steelblue;">@Html.DisplayNameFor(model => model.SearchTag)</p>
            </th>
            <th>
                <p style="color: steelblue;">@Html.DisplayNameFor(model => model.SearchTagid)</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <p >@Html.DisplayFor(modelItem => item.Title)</p>
                </td>
                <td>
                    <p >@Html.DisplayFor(modelItem => item.Description)</p>
                </td>
                <td>
                    <p >@Html.DisplayFor(modelItem => item.User.Id)</p>
            
            </td>
                <td>
                    <p >@Html.DisplayFor(modelItem => item.SearchTag)</p>
                </td>
                <td>
                    <p >@Html.DisplayFor(modelItem => item.SearchTagid)</p>
                </td>
            <td>
           
                <a asp-action="Details" asp-route-id="@item.ServicesPostId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServicesPostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
